<!doctype html>
<head>
  <meta charset="utf-8">
  <title>LEC - Learn English or Thai at Payap University - {% block title %}{% endblock %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/custom-boot.css') }}">
  <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.png') }}">
  <script src="{{ url_for('static', filename='js/base.js') }}"></script>
</head>
<body>

  {% block content %}{% endblock %}

</body>
</html>
