<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>&nbsp;</th>
        <th>Semester 1, 2015 / 2016</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>November</td>
        <td>2nd November - 27th November 2015</td>
      </tr>
      <tr>
        <td><strong>Class times:</strong></td>
        <td><strong>Mon - Fri 9 am - 12 noon and 1 pm - 4 pm</strong></td>
      </tr>
      <tr>
        <td><strong>Cost:</strong></td>
        <td><strong>35,000 THB</strong></td>
      </tr>
    </tbody>
  </table>
</div>
