<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>&nbsp;</th>
        <th>Semester 1, 2015 / 2016</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><strong>First day of classes:</strong></td>
        <td><strong>3rd August 2015</strong></td>
      </tr>
      <tr>
        <td>Midterm examination:</td>
        <td>21st - 24th September 2015</td>
      </tr>
      <tr>
        <td><strong>Last day of classes:</strong></td>
        <td><strong>17th November 2015</strong></td>
      </tr>
      <tr>
        <td>Final examination:</td>
        <td>17th November 2015</td>
      </tr>
      <tr>
        <td>Grade announcement:</td>
        <td>24th November 2015</td>
      </tr>
      <tr>
        <td><strong>Class times:</strong></td>
        <td><strong>Mon - Thurs 1 pm - 4 pm</strong></td>
      </tr>
      <tr>
        <td><strong>Cost:</strong></td>
        <td><strong>43,800 THB</strong></td>
      </tr>
    </tbody>
  </table>
</div>
