<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>&nbsp;</th>
        <th>Academic year 2015</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Thai 1, Thai 3, Thai 5, Thai 7</td>
        <td>17 August - 17 September 2015</td>
      </tr>
      <tr>
        <td>Thai 2, Thai 4, Thai 6, Thai 8</td>
        <td>28 September - 29 October 2015</td>
      </tr>
      <tr>
        <td>Thai 1, Thai 3, Thai 5, Thai 7</td>
        <td>9 November - 9 December 2015</td>
      </tr>
      <tr>
        <td>Thai 2, Thai 4, Thai 6, Thai 8</td>
        <td>11 January - 11 February 2016</td>
      </tr>
      <tr>
        <td>Thai 1, Thai 3, Thai 5, Thai 7</td>
        <td>23 February - 23 March 2016</td>
      </tr>
      <tr>
        <td>Thai 2, Thai 4, Thai 6, Thai 8</td>
        <td>20 April - 20 May 2016</td>
      </tr>
      <tr>
        <td>Thai 1, Thai 3, Thai 5, Thai 7</td>
        <td>30 May - 30 June 2016</td>
      </tr>
      <tr>
        <td>Thai 2, Thai 4, Thai 6, Thai 8</td>
        <td>11 July - 11 August 2016</td>
      </tr>
      <tr>
        <td><strong>Class times:</strong></td>
        <td><strong>Mon - Thurs 9 am - 12 noon</strong></td>
      </tr>
      <tr>
        <td><strong>Cost:</strong></td>
        <td><strong>8,000 THB</strong></td>
      </tr>
    </tbody>
  </table>
</div>
<h4>Notes</h4>
<ul>
  <li>The cost of handouts and application fees is included.</li>
  <li>If you enrol for two successive courses, (120 hours), the cost will be <strong>15,500 THB</strong>, with handouts and application fees included.</li>
  <li>If you enrol for two successive courses, (120 hours), the cost will be <strong>20,200 THB</strong>, with documents for visa application, handouts and application fees included.</li>
  <li>The fees do not include a textbook.</li>
</ul>
