{% for (name, id, exam) in scores %}
<table class="table">
  <thead>
    <tr>
      <th>{{ name }}</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Exam:</td>
      <td>{{ exam.exam_id }}</td>
      <td>Listening: {{ exam.listening }}</td>
      <td>Structure: {{ exam.structure }}</td>
      <td>Reading: {{ exam.reading }}</td>
      <td>Writing: {{ exam.writing }}</td>
      <td>Total: {{ exam.total }}</td>
      <td><a class="btn btn-primary" href="/users/examreport/{{ id }}" target="_blank" role="button">Get report</a></td>
    </tr>
  </tbody>
</table>
{% endfor %}
<button class="btn btn-primary pull-left" onclick="Admin.empty('getscore-scores')" type="button">Hide scores</button><br>
